body {
  background: #eee;
  color: #222;
  font-family: Gotham, Helvetica NEUE, Helvetica, sans-serif;
}

/*
 * 반응형 웹 디자인 (RWD, Responsive Web Design)
 * 핵심 개념 : 어느 디바이스 (viewport)에서 접근을 하던 웹사이트가 해당 디바이스에 반응하여 화면을 노출시켜준다.
 * 해상도 대응
 * 해상도를 대응하기 위해 필요한 것
 * 유저가 현재 내 웹사이트를 사용하는 상태의 크기 (브라우저) => 해상도 + 브라우저 크기
 * 모바일
 * 데스크톱
 * 키오스크
 * 아이폰 4 크기 => 320 x 480
 * 13인치 맥북 => 1366 x 768
 * 27인치 모니터 => 2560 x 1440
 * 배치도 (디자인 설계도)
 * breakpoint (기준점) => 미디어쿼리

 * 어디서부터 작업을 시작할까?
 * RWD
 * 2가지 케이스 (케바케)
 * 모바일 -> 데스크탑
 * 데스크탑 -> 모바일
 * 모바일 우선주의 (Mobile First)
 */

 /* mobile */
 

 /* desktop */
 /* 480부터 안드로이드 기기 */
 /* 768부터 태블릿이 시작 */

 /* 1280부터가 11인치 노트북 */
 /* 1366부터 보통 노트북 (13인치) */
 /* 1920부터 23인치 모니터 */
 /* 2560부터 27인치 모니터 */
 /* 3120이 30인치 */
 /* mobile 대응 코드는 따로 media를 붙이지 않아도 됨 */
 /* mobile에서 가능한 한 공통 코드 (크기가 바뀌어도 이슈 없는 애들)를 먼저 치고, */
/* 미디어쿼리 내부에서는 깔짝이들 */

/* mobile View */
body {
  margin: 0;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header {
  padding: 15px;
  background: white;
}
.header h1 {
  float: left;
}
.header .nav {
  float: left;
}
.header .nav li {
  float: left;
}
.header .nav li a {
  padding: 7px 0;
  color: black;
  text-decoration: none;
  margin-right: 14px;
}

.header .layer-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  transform: scale(1.5);
  background: white;
  left: -150%;
  width: 100%;
  transition: .4s transform, .4s opacity;
}

.header .layer-popup-on {
  transform: scale(1);
  opacity: 1;
  left: 0;
}

.header .hero {
  clear: both;
  padding: 15px 0;
}

.header .hero h2 {
  font-size: 29px;
}

.header .hero .btn {
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid green;
  text-align: center;
  font-weight: bold;
}

.contents {

}

.contents .rewards-card-list {
  background: #333;
  color: #fff;
}

.contents .rewards-card-list figure,
.contents .rewards-card-list figcaption {
  margin: 0;
}

.contents .rewards-card-list {
  /*
   * display: flex
   */
  display: flex;
  /*
   * overflow
   */
  overflow-x: scroll;
  padding: 15px 0 15px 15px;
}

.contents .rewards-card-list .card {
  /* float는 부모요소의 박스보다 자식요소의 너비가 커지면 줄바꿈이 일어남 */
  min-width: 85%;
  margin-right: 15px;
}

.contents .rewards-card-list .card img {
  width: 100%;
}

@media (min-width: 1028px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    box-sizing: border-box;
  }
  .contents {
    float: left;
    width: 60%;
    margin-left: 40%;
  }
  .contents .rewards-card-list .card {
    min-width: 33.333333%;
  }
}